<div class="container">
    <h1 class="mb-4"><%= article.title %></h1>
    <div class="text-muted mb-2">
      <%= article.createdAt.toLocaleDateString() %>
    </div>
    <div class="mb-2">
      <h5>Description:</h5>
      <%= article.description %>
    </div>
    <div>
      <h5>Content:</h5>
      <%- article.sanitizedHtml %>
    </div>
    
    <div class="mt-4">
      <a href="/" class="btn btn-secondary">All Articles</a>
      <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
      <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>